
@page
@model VirtualPetAdoptionCenter.Web.Pages.MyPetsModel

<h1>My Pets</h1>

<head>
    <link rel="stylesheet" href="~/css/PetStyle.css" />
</head>

<nav>
    <ul>
        <li><a href="/AllPets">Home</a></li>
        <li><a href="/MyPets">MyPets</a></li>
        <li><a href="/Account">Account</a></li>
    </ul>
</nav>

<section class="articles">
    @foreach (var pet in Model.Pets)
    {
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="@pet.Image" alt="" />
                </figure>
                <div class="article-body">
                    <h2>@pet.Name</h2>
                    <p>@pet.Description</p>
                    @{
                        if(pet.FeedCount != null)
                        {
                            <p>Pet fed @pet.FeedCount times</p>
                        }
                    }
                    <form method="post">
                        <label for="foodType">Select food type for @pet.Name:</label>
                        <select name="foodType" id="foodType">
                            <option value="water">Water</option>
                            <option value="food">Food</option>
                            <option value="treat">Treat</option>
                        </select>
                        <button type="submit" formaction="/Pet/FeedPet" id="petId" name="petId" value="@pet.Id" class="feed-button" style="margin-top:30px">Feed @pet.Name</button>
                        <a href="@Url.Action("GroomPet","Pet",new {petId=pet.Id})">Grooming and Care</a>
                        @* <button type="submit" formaction="@Url.Action("GroomPet","Pet",new {petId=pet.Id})" class="groom-button">Grooming and Care</button>*@
                    </form>                               
                </div>
            </div>
        </article>
    }
</section>
