@page
@model VirtualPetAdoptionCenter.Web.Pages.MyPetsModel

<label class="title-label"> My pets </label>

<head>
    <link rel="stylesheet" href="~/css/PetStyle.css" />
</head>

<nav>
    <ul>
        <li><a href="/AllPets">Home</a></li>
        <li><a href="/MyPets">MyPets</a></li>
        <li><a href="/Account">Account</a></li>
    </ul>
</nav>

<section class="articles">
    @foreach (var pet in Model.Pets)
    {
        <article>
            <div class="article-wrapper">
                <figure>
                    @if (pet.EnvironmentType == "Garden")
                    {
                        <img src="https://t4.ftcdn.net/jpg/02/54/00/69/360_F_254006997_xRASPFxpBNlNiC4yFQxj8z8nrmFgVyNI.jpg" alt="" />
                    }
                    else if (pet.EnvironmentType == "Home")
                    {
                        <img src="https://images.squarespace-cdn.com/content/v1/5a4e83de9f8dceb1a2873aac/1589490209297-N0Y4JT5302VLSCC15J9B/IMG_6799.jpg" alt="" />
                    }
                    else if (pet.EnvironmentType == "Park")
                    {
                        <img src="https://static4.depositphotos.com/1004999/269/i/950/depositphotos_2693490-stock-photo-beautiful-park.jpg" alt="" />
                    }
                </figure>
                <figure style="position: absolute; top: 0; left: 0;">
                    <img src="@pet.Image" alt="" style="width: 100%; height: auto;" />
                </figure>
                <div class="article-body">
                    <h2>@pet.Name</h2>
                    <p>@pet.Description</p>
                    @{
                        if(pet.FeedCount != null)
                        {
                            <p>Pet fed @pet.FeedCount times</p>
                        }
                    }
                    <form method="post">
                        <label for="foodType">Select food type for @pet.Name:</label>
                        <select name="foodType" id="foodType">
                            <option value="water">Water</option>
                            <option value="food">Food</option>
                            <option value="treat">Treat</option>
                        </select>
                        <button type="submit" formaction="/Pet/FeedPet" id="petId" name="petId" value="@pet.Id" class="main-button" style="margin-top:30px">Feed @pet.Name</button>                                           
                    </form>
                    <form method="get" action="@Url.Action("GroomPet", "Pet")">
                        <input type="hidden" name="petId" value="@pet.Id" />                    
                        <button type="submit" class="main-button" >Grooming and Care</button>
                    </form>
                    <form method="post">
                        <input type="hidden" name="petId" value="@pet.Id" />

                        @if (pet.EnvironmentType != "Garden")
                        {
                            <button type="submit" formaction="/Pet/SetEnvironment" name="environment" value="Garden" class="main-button">Set Garden Environment</button>
                        }

                        @if (pet.EnvironmentType != "Home")
                        {
                            <button type="submit" formaction="/Pet/SetEnvironment" name="environment" value="Home" class="main-button">Set Home Environment</button>
                        }

                        @if (pet.EnvironmentType != "Park")
                        {
                            <button type="submit" formaction="/Pet/SetEnvironment" name="environment" value="Park" class="main-button">Set Park Environment</button>
                        }
                    </form>                 
                </div>
            </div>
        </article>
    }
</section>
